/*reset css*/ 
#servicios #quienes-somos #contacto #promo footer{
    margin:0;
    padding: 0;
    border: 0;
    
    
}
body{
   margin:0;
   padding: 0;
   border: 0;
  

}
 
/*mobile first*/
/*clases similares*/
.grids{
   display: grid;
   grid-template-areas: 
           "header "
           "main"
           "footer";
   grid-template-columns: auto;  
   grid-template-rows: 1fr 1fr 1fr;
   width: 100%;
   max-height:1500px ;
   margin: 15px 15px 15px 15px;
  
  
   } 
body{
   background: linear-gradient( #f570c8, rgb(236, 161, 233) ,pink, #f4dff5) no-repeat;
   background-size: cover;
}
.header {
    grid-area : header ; 
    display: flex;
    background-color: #f1b8ea;
    width: 100%;
    align-items: center;
    flex-direction: column ;
    border-bottom: dotted #4d4949 3px;

   }
.header li{
    list-style-type: none;
    font-size: 15px;

}   /*animacion*/
.header li:hover{
    width: 50px;
    height: 30px;
    padding-right:200px ;
    font-size: 30px;
}

.animacion:hover{
   -webkit-filter: grayscale(1);

}
/*animacion*/
main{
    grid-area: main;
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
footer{
    display: flex;
    grid-area: footer;
    background-color: #727374;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    margin-top:20px;
    padding: 15px 15px 15px 15px;
    margin-right: 25px;
   

}
footer .redes-1{
    display: flex;
    flex-direction: column;
}

/*fin clases similares*/


/* menu de pagina principal*/


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }
main p{
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section .imagen-principal{
    width: 100%;
}
.imagen-principal img{
   width: 150px;
   height: 150px;
}
.imagen-principal iframe{
   width: 150px;
   height: 150px;
}
/*fin de menu pagina principal*/


/*menu de servicios*/

.trabajos-center{
    display: flex;
   align-items: center;
justify-content: center;
   flex-direction: column;
}

/*menu de promociones*/
main div{
   width: 100%;
}
div img{
  width: 150px;
  height: 150px;
}
/*menu de contacto*/
section iframe{
    width: 200px;
    height: 200px;
}




/*media queries*/

@media screen and (min-width :768px)
{
/*clases similares*/
   .grids{
       background-size: 100%;
       width: 99%;
       height: 100%;
       max-height: 1000px;
       margin: 20px 20px 20px 20px;
   }
   .header{
     
       width: 99%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }
   img .logo{
      
      width: 30px;
      height: 30px;
      border: #4d4949 solid 3px;
  }
  .header ul{
      display: flex;
      flex-direction: row;
  }
  .header li{
      margin:10px;
  }
  footer{
   display: flex;
   align-items: center;
   flex-direction: row;
   width: 99%;
   justify-content: space-between;
  }

/*menu*/
  main{
   width: 100%;
   display: flex;
   text-align: center;
   flex-direction: column;
}
section .imagen-principal{
   width: 100%;
  
}
.imagen-principal img{
  width: 500px;
  height: 500px;
}
.imagen-principal iframe{
  margin-top: 100px;
   width: 600px;
  height: 600px;
}
/* servicio*/
#trabajos-center img{
   display: flex;
   width: 300px;
   height: 300px;
   flex-direction: column;
}
.trabajos-center img{
   width: 300px;
  height: 300px;

}
table{
   border: solid 3px gray;
   width: 500px;
   height: 500px;
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*promociones*/
.img-promo img{
   width: 500px;
   height: 500px;
margin: 30px;
}

main section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.redes img{
   width: 200px;
   height: 200px;
   background: #727374;
   border-radius:  100px;
   -webkit-border-image: 100px;
   -moz-border-image: 100px;
   -o-border-image: 100px;
   -ms-border-image:100px;
   margin: 70px;
}
