/*reset css*/ 
#servicios #quienes-somos #contacto #promo footer{
    margin:0;
    padding: 0;
    border: 0;
    
    
}
body{
   margin:0;
   padding: 0;
   border: 0;
  
  

}
 
/*mobile first*/
/*clases similares*/
.grids{
   display: grid;
   grid-template-areas: 
           "header "
           "main"
           "footer";
   grid-template-columns: auto;  
   grid-template-rows: 1fr 1fr 1fr;
   width: 100%;
   margin: 15px 15px 15px 15px;
  
  
   } 
body{
   background: linear-gradient( #f570c8, #f5b3f3,rgb(242, 192, 248) ,pink, #f4dff5) ;
   background-repeat: no-repeat;
   background-size: cover;
  
}
.header {
    grid-area : header ; 
    display: flex;
    background-color: #f1b8ea;
    width: 100%;
    align-items: center;
    flex-direction: column ;
    border-bottom: dotted #4d4949 3px;

   }
.header li{
    list-style-type: none;
    font-size: 15px;

}   /*animacion*/
.header li:hover{
    width: 50px;
    height: 30px;
   
    font-size: 30px;
}

.animacion:hover{
   -webkit-filter: grayscale(1);

}
img:hover{-webkit-filter: grayscale(1);

}
/*animacion*/
main{
    grid-area: main;
    margin-top: 30px;
    min-width: 100vh;
    text-align: center;
}
footer{
    display: flex;
    grid-area: footer;
    background-color: #727374;
    font-size: 15px;
    align-items: center;
    flex-direction: column;
    margin-top:20px;
    padding: 15px 15px 15px 15px;
    margin-right: 25px;
    width: 100%;
   

}
footer .redes-1{
    display: flex;
    flex-direction: column;
}

/*fin clases similares*/


/* menu de pagina principal*/


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
   }
main p{
   font-size: 20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section .imagen-principal{
    width: 100%;
}
.imagen-principal img{
   width: 150px;
   height: 150px;
}
.imagen-principal iframe{
   width: 150px;
   height: 150px;
}
/*fin de menu pagina principal*/


/*menu de servicios*/

.trabajos-center{
    display: flex;
   align-items: center;
justify-content: center;
   flex-direction: column;
}



/*menu de contacto*/
section iframe{
    width: 200px;
    height: 200px;
}




/*media queries*/

@media screen and (min-width :768px)
{
/*clases similares*/
   .grids{
      
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
 
    .header{  
      
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
     
   }
  footer{
   
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
  margin-bottom: 0px;
  align-self: flex-end;
 
 }

 #foot{
    background-color: #727374;
    text-align: center;
 }

/*menu*/
 .bienvenida{
    border: #4d4949 solid 2px;
    justify-content: end;
 }
   
#carouselExampleControls{
   width: 30%;
 margin-left: 600px;
}

}
section .imagen-principal{
   width: 100%;
  
}
.imagen-principal img{
  width: 500px;
  height: 500px;
}
.imagen-principal iframe{
  margin-top: 100px;
   width: 600px;
  height: 600px;
}
/* servicio*/

.boton{
   text-align: center;
   padding-top: 100px;
}
.btn{
   border-radius: 2px;
   display: inline-block;
   padding: 15px 30px;
   color:black;
   background-color: palevioletred;
}
#precios{
   margin-top: 500px;
   margin-bottom: 500px;
   border: solid grey 2px;
   font-size: 50px;

}

/*promociones*/
.img-promo img{
   width: 500px;
   height: 500px;
margin: 30px;
}

main section{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.redes img{
   width: 200px;
   height: 200px;
   background: #727374;
   border-radius:  100px;
   -webkit-border-image: 100px;
   -moz-border-image: 100px;
   -o-border-image: 100px;
   -ms-border-image:100px;
   margin: 70px;
}
